<div class="row" *ngIf="person">
    <div class="col-xs-2 col-sm-4 col-md-2 col-lg-2">
        <img src={{person.imgP}} class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="name lastName">
        <h3><b>{{person.name}} {{person.lastName}}</b></h3>
        <h4><b>Full Stack Developer Jr.</b></h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <h2>Acerca de mí</h2>
        <p>{{person.descP}}</p>
        <div *ngIf="isAdmin.length >1"> <button id="button-edit" class="button-edit-about " routerLink="/editAbout/1"
                *ngIf="isLogged"> <i class="bi bi-pencil-square"></i> </button></div>

    </div>

</div>