<div class="row">
  <div class="container">
    <div class=" fluid col-sm-2 col-md-2 col-lg-2">
      <app-logo-ap></app-logo-ap>
    </div>
    <div class="social fluid  col-4 ">
      <div class="col-sm-9 col-md-9 col-lg-9">
        <a href="https://www.facebook.com/alqmst99"><i class="bi bi-facebook"></i></a>
        <a href="https://z-p15.www.instagram.com/nahuel.p90/"><i class="bi bi-instagram"></i></a>
        <a href="#!"><i class="bi bi-whatsapp"></i></a>
        <a href="https://twitter.com/nahuelPierini90"><i class="bi bi-twitter"></i></a>
        <a href="https://github.com/alqmst99"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/in/nahuel-pierini-b16396150/"><i class="bi bi-linkedin"></i></a>

      </div>
    </div>
    <div class="fluid col-sm-12 cpl-md-5 col-lg-5 col-md-6 col-sm-6">
     <button type="button" class="btn btn-primary btn-rounded col-lg-4 " (click)="logOut()" *ngIf="isLogged">LogOut</button>
    </div>
    <div class="img-banner col-lg-12 col-md-12 col-sm-12">
      <img src="https://wallpapercave.com/wp/wp10167060.jpg" id="banner">
    </div>
  </div>
</div>